.product-item {
  width: 280px;
  height: auto;
}

.product-item__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: grey;
    display: inline-block;
    transform: scale(1.1);
  }
}
